<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Owl Slider CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- FontAwesome JS -->
    <script src="https://kit.fontawesome.com/0d699df7e6.js" crossorigin="anonymous"></script>

    <title>Add Products</title>

</head>

<body>

    <!-- This view is designed for both adding and updating the products... -->

    <!-- Navbar Section Starts -->

    <nav class="navbar navbar-expand-lg navbar_section">

        <div class="container-fluid">

            <a class="navbar-brand" href="#"> <img th:src="@{/images/MedWebLogo.jpeg}" src="../static/images/MedWebLogo.jpeg" width="auto" height="40" class="d-inline-block align-top" alt="" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto"></ul>

                <ul class="navbar-nav">
                
                	<li class="nav-item active"><a class="nav-link" th:href="@{/admin}" href="#">Admin-Home</a></li>

                    <li class="nav-item active"><a class="nav-link" th:href="@{/}" href="#">Home</a></li>

                    <li class="nav-item active"><a class="nav-link" th:href="@{/shop}" href="#">Shop</a></li>

                    <li class="nav-item active"><a class="nav-link" th:href="@{/about}" href="#">About Us</a></li>

                    <li class="nav-item active"><a class="nav-link" th:href="@{/contact}" href="#">Contact Us</a></li>

                    <li class="nav-item active"><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                    </li>

                    <li class="nav-item active"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
                    </li>

                    <li class="nav-item active"><a class="nav-link" th:href="@{/cart}" href="#">Cart</a></li>

                    <li class="nav-item active"><span class="nav-link" th:text="${cartCount}">0</span></li>

                </ul>

            </div>

        </div>

    </nav>

    <!-- Navbar Section Ends -->

    <!-- Main Container Starts -->

    <div class="container-fluid productsAdd_mainContainer">

        <div class="container p-4 bold">

            <div class="container text-center">

                <div class="container p-2">

                    <div class="container text-right">

                        <a th:href="@{/admin/products}" class="btn btn-hover return text-white">
                        
                            Go back to Categories
                        
                        </a>

                    </div>

                    <h3 class="bold">Add a New Product</h3>

                </div>

            </div>

            <div class="container m-3">

                <!-- Form Section Starts -->

                <form th:action="@{/admin/products/add}" method="post" th:object="${productDTO}" enctype="multipart/form-data">

                    <!-- Row Starts -->

                    <div class="row">

                        <!-- First Column Starts -->

                        <div class="col-sm-5">

                            <input type="hidden" name="id" th:field="*{id}">

                            <!-- Name Field -->

                            <div class="form-group">

                                <label for="name">Product Name</label> <input type="text" class="form-control" required th:field="*{name}" name="name" id="name" placeholder="Enter product name here...">

                            </div>

                            <!-- Select Category Field -->

                            <div class="form-group">

                                <label for="category">Select Category</label>

                                <select class="form-control" th:field="*{categoryId}" id="category" name="category">

							<option th:each="category :${categories}"
								th:value="${category.id}" th:text="${category.name}">
                                
						</select>

                            </div>

                            <!-- Price Field -->

                            <div class="form-group">

                                <label for="price">Price</label>

                                <input type="number" class="form-control" required th:field="*{price}" name="price" id="price" placeholder="Enter Product Price Here...">

                            </div>

                            <!-- Weight Fields -->

                            <div class="form-group">

                                <label for="weight">Weight in grams</label>

                                <input type="number" class="form-control" required th:field="*{weight}" name="weight" id="weight" placeholder="Enetr Product Weight Here...">

                            </div>

                            <!-- Product Description Field -->

                            <div class="form-group">

                                <label for="description">Product Description</label>

                                <textarea class="form-control" rows="5" th:field="*{description}" name="description" id="description" placeholder="Enter Product Description Here..."></textarea>

                            </div>

                        </div>

                        <!-- First Column Ends -->

                        <!-- Second Column Starts -->

                        <div class="col-sm-5">

                            <!-- Product image Upload Field -->

                            <p>Product Image</p>

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" name="productImage" accept="image/jpeg, image/png" id="productImage" /> <label class="custom-file-label" for="productImage">Choose Product Image</label>

                            </div>

                            <!-- Product Image Preview Field -->

                            <div class="form-group">

                                <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/productImages/' + productDTO.imageName}}" style="margin-top: 20px" alt=" ">

                            </div>

                            <!-- Hidden Image Name Field -->

                            <input type="hidden" name="imgName" th:value="${productDTO.imageName}">

                            <!-- Submit Button -->

                            <button type="submit" class="btn btn-hover submit">Submit</button>

                        </div>

                        <!-- Second Column Starts -->

                    </div>

                    <!-- Row Ends -->

                </form>

                <!-- Form Section Ends -->

            </div>

        </div>

    </div>

    <!-- Main Container Ends -->

    <!-- Linking our External JS Files -->

    <!-- JQuery from Official Website -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js " integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin=" anonymous "></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- jquery.slim.min.js contains only that much JQuery which i s required by the BootStrap -->

    <!-- Here as we are also using Owl Slider, so we are using jquery-3.6.0.min.js from the official site -->

    <!-- This wil contain the pure JQuery -->

    <!--  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script> -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js " integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2 " crossorigin="anonymous "></script>

    <!-- Owl Slider JS -->

    <script th:src="@{/js/owl.carousel.min.js}"></script>
    
    <!-- Custom JS -->
   
    <script th:src="@{/js/script.js}"></script>
    
    <script th:src="@{/js/script_new.js}"></script>

    <!-- Owl Slider Calling the Plugin JS -->

    <script>
        $(document).ready(function() {
            $(".owl-carousel ").owlCarousel(

                // Also, here only making our owl carousel reponsive... 
                // Doing so by creating an object... 

                {

                    // Copied from Owl Slider Responsive documentation...

                    loop: true,
                    margin: 10,
                    autoplay: true,

                    responsive: {
                        0: {
                            items: 1,
                            nav: true
                        },
                        600: {
                            items: 3,
                            nav: false
                        },
                        1000: {
                            items: 3,
                            nav: true,
                            loop: false
                        }
                    }

                }

            );
        });
    </script>

    <script>
        // Script for previewing the image...

        function readURL(input) {

            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgPreview').attr('src', e.target.result).width(100).height(100);
                }

                reader.readAsDataURL(input.files[0])

            }
        }

        $('#productImage').change(function() {

            readURL(this);

        });

        $(".custom-file-input").on("change", function() {

            var fileName = $(this).val().split("\\").pop();

            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        });
    </script>

</body>

</html>